= form_with model: @article do |f|
  = f.label :title
  = f.text_field :title
  - if f.object.errors[:title].present?
    %span= f.object.errors[:title].to_sentence
    %br
  %br
		  
  = f.label :author
  = f.text_field :author
  - if f.object.errors[:author].present?
    %span= f.object.errors[:author].to_sentence
    %br
  %br
  
  = f.label :content
  = f.text_area :content
  - if f.object.errors[:content].present?
    %span= f.object.errors[:content].to_sentence
    %br
  %br
  %br
  
  = f.submit
  
  %br
  %br
  
= link_to articles_path do
  Back to Index
