%h1= @article.title

%p= @article.content

%hr

%table
  %thead
    %tr
      %th Comment
      %th Actions
  %tbody
    - @comments.each do |comment|
      %tr
        %td= comment.content
        %td 
          = link_to edit_article_comment_path(@article.id, comment.id) do
            Edit
          |
          = link_to article_comment_path(@article.id, comment.id), method: :delete, data: { confirm: "Are you sure?" } do
            Delete

= render 'comments/form'
%br

= link_to articles_path do
  Back to Index
